.primary-button {
  background: #24b79b;
  color: #ffffff;
  width: 115px;
  height: 37px;
  border-radius: 20px;
  border: none;
  font-family: "iranyekan";
  cursor: pointer;
}

.outline-button {
  background: transparent;
  border: 1px solid #24b79b;
  color: #24b79b;
  width: 115px;
  height: 37px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "iranyekan";
  font-size: 11px;
  cursor: pointer;
}

.outline-button:disabled {
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
}

.outline-button img {
  width: 10px;
  left: 10px;
  position: absolute;
}

img.reverse-icon {
  transform: rotate(180deg);
  right: 10px;
  position: absolute;
}
