.primary-layout-container {
  display: flex;
  height: 100%;
}
.right-section {
  flex: 3;
}

.left-section {
  flex: 1;
  background-color: #fffbeb;
  position: relative;
}

.app-container {
  direction: rtl;
  height: 100vh;
}

.green-car {
  background-image: url("../../assets/images/car-green.svg");
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: contain;
  background-position: bottom;
}

.green-car-container {
  position: absolute;
  left: 20px;
  height: 100%;
  width: 45%;
  bottom: 5%;
}

.form-container {
  width: 390px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5;
}

h5.h5-typo.form-title {
  margin-bottom: 25px;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

.form-control-space {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.validation-error {
  color: #e84341;
  font-size: 13px;
  margin-top: 8px;
}

/* Smartphones portrait screen */
@media only screen and (max-width: 470px) {
  .form-container {
    width: 100%;
  }
  .primary-layout-container {
    flex-direction: column;
  }
  .green-car-container {
    width: 60%;
    bottom: 20%;
  }
  .form-title {
    display: flex;
    justify-content: center;
  }
  .form-button {
    justify-content: center;
  }
  .validation-error {
    display: flex;
    justify-content: center;
  }
  .form-content {
    padding: 0px 15px;
  }
  .form-control-space {
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }
}
