.header-container {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
  margin-top: 27px;
}

.logo {
  width: 30px;
}

/* Smartphones portrait screen */
@media only screen and (max-width: 470px) {
  .header-title {
    display: none;
  }
}
