body {
  position: unset;
  margin: 0;
  font-family: iranyekan, roboto, Arial !important;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: iranyekan, roboto, Arial !important;
}
