.name-fields-section {
  display: flex;
}

.name-text-field {
  margin-left: 15px;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-between;
}

/* Smartphones portrait screen */
@media only screen and (max-width: 470px) {
  .name-fields-section {
    flex-direction: column;
  }
  .register-form-container {
    height: 170px;
  }
  .name-text-field {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
