.dialog-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  z-index: 7;
}

.dialog-content {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.info-items {
  display: flex;
  justify-content: space-between;
}
